#!/bin/bash
sudo apt-get update -y
sudo apt-get upgrade -y

# Install K3s server
sudo curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.21.8+k3s1 sh -s - server \
  --token ${token} \
  --cluster-init \


# Wait for k3s.yaml to appear
while ! [ -e /etc/rancher/k3s/k3s.yaml ]
do 
  sleep 3
done

# Wait for 60 seconds
sleep 60

export KUBECONFIG=/etc/rancher/k3s/k3s.yaml #to set KUBECONFIG

# Wait for 60 seconds
sleep 60

# Create a folder
mkdir actions-runner && cd actions-runner
# Download the latest runner package
curl -o actions-runner-linux-x64-2.322.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.322.0/actions-runner-linux-x64-2.322.0.tar.gz
# Optional: Validate the hash
echo "b13b784808359f31bc79b08a191f5f83757852957dd8fe3dbfcc38202ccf5768  actions-runner-linux-x64-2.322.0.tar.gz" | shasum -a 256 -c
# Extract the installer
tar xzf ./actions-runner-linux-x64-2.322.0.tar.gzßß


# Create the runner and start the configuration experience
#$ ./config.sh --url https://github.com/JacobsDevops/online-store-microservices --token $(RUNNER_TOKEN)

./config.sh--url https://github.com/JacobsDevops/online-store-microservices \
  --token AQDZTANZFQJ6YHCWUUOA4B3HYGFMO \
  --name $(hostname) \
  --runnergroup "Default" \
  --labels "self-hosted,linux,x64" \
  --unattended \
  --replace \
  --work "_work"

# Last step, run it!
$ ./run.sh